.wrapper {
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.wrapperDark {
  background: #111;
}

.wrapperLight {

}

.header {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}

.drawerList {
  margin: 0;
  padding: 0 10px !important;

  li {
  }
}

.navLink {
  margin: 0;
  display: block;
  padding: 5px 20px;
  border-radius: 10px;

  &:hover {
    padding-left: 30px;
    text-decoration: none;
  }
}

.navLinkDark {
  color: #888;

  &:hover {
    color: #fff;
    background: rgba(255,255,255,0.1);
  }
}

.navLinkLight {

}

.close {
  color: #aaa;
  transition: all ease-in .25s;

  &:hover {
    color: #fff;
  }
}
