.header {

}

.wrapper {
  padding: 50px 0 100px;
}

.contentWrapper {
  display: flex;

  @media(max-width: 1024px) {
    flex-direction: column;
  }
}

.left {
  flex: 9;
  padding-right: 40px;
}

.right {
  flex: 3;
  padding: 20px 30px;
}

.footerTitleDivider {
  width: 40px;
  height: 2px;
  background: rgba(255,255,255,0.25);
  margin-bottom: 20px;
}

.tagWrapper {
  display: flex;
  align-items: baseline;
}

.tag {
  color: #999;
  margin-left: 10px;
}

.mediaWrapper {
  overflow: hidden;
  max-height: 400px;
  margin-bottom: 20px;
}

.media {
  width: 100%;
  height: auto;
  max-height: unset;
}
