.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  grid-template-rows: 200px 200px;
  gap: 20px;

  @media(max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @media(max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.itemWrap {
  height: 200px;
  overflow: hidden;

  @media(max-width: 1024px) {
    height: auto;
  }
}

.image {
  width: 100%;
  height: auto;
  max-height: unset;

  opacity: 0.75;
  filter: grayscale(1);
  transition: all 0.25s ease-in;

  &:hover {
    opacity: 1;
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(1.02);
  }
}
