.listItemWrapperBorder {
  padding: 1px;
  border-radius: 21px;
  margin-bottom: 100px;
  background: linear-gradient(45deg,#111 0,#666 50%, #111 100%);
}

.listItemWrapper {
  border-radius: 20px;
  background: rgba(0,0,0,.9);
  padding: 30px;
}

.listItemPosted {

}