.projectMacbook {
  display: flex;
  justify-content: center;
  position: relative;
}

.innerMacbookWrap {
  width: 100%;
  position: absolute;

  @media(max-width: 900px) {
    position: unset;
  }
}

.innerMacbookWrapLeft {
  right: 75%;
}

.innerMacbookWrapRight {}

.macbookImage {
  z-index: 2;
  width: 992px;
  position: relative;

  @media(max-width: 900px) {
    width: 730px;
  }

  @media(max-width: 600px) {
    width: 525px;
  }
}

.screen {
  top: 9px;
  z-index: 1;
  left: 104px;
  width: 786px;
  height: 506px;
  overflow-y: auto;
  position: absolute;
  overflow-x: hidden;

  @media(max-width: 900px) {
    left: 77px;
    width: 577px;
    height: 370px;
  }

  @media(max-width: 600px) {
    top: 4px;
    left: 55px;
    width: 416px;
    height: 285px;
  }
}

.screenView {
  width: 100%;
  display: flex;
  max-height: unset;

  @media(max-width: 600px) {
    width: 435px;
  }
}
