.projectMacbook {
  display: flex;
  justify-content: center;
}

.innerMacbookWrap {
  width: 100%;
  align-self: center;
  position: relative;
}

.innerMacbookWrapLeft {
  transform: scale(1.75) translate(-25%, 0);
}

.innerMacbookWrapRight {
  transform: scale(1.75) translate(25%, 0);
}

.macbookImage {
  width: 100%;
  position: absolute;
}

.screen {
  top: 6px;
  z-index: 2;
  left: 60px;
  width: 78.8%;
  height: 287px;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}

.screenView {
  width: 100%;
  display: flex;
}