.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chip {
  font-size: 18px;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #eee;
  color: rgba(41, 60, 86, 1);
  font-family: 'Roboto Mono', monospace;

  &:hover {
    color: #fff;
    cursor: pointer;
    background: rgba(41, 60, 86, 1);
  }
}