.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chipDark {
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px 0px rgba(0,91,168,0.5);
  background: radial-gradient(circle 150px at center -125px, rgba(0,91,169,0.75), rgba(17,17,17,1));
  border: 3px solid rgba(5,5,5,0.7);

  &:hover {
    color: #ccc;
    background: radial-gradient(circle 165px at center -100px, rgba(0,91,169,0.75), rgba(17,17,17,1));
  }

  &:focus {
    color: #fff;
    background: radial-gradient(circle 165px at center -100px, rgba(0,40,80,0.75), rgba(17,17,17,1));
  }
}

.chipLight {
  color: rgba(0, 0, 0, 0.8);
  background: radial-gradient(circle 165px at center -100px, rgba(170,170,170,0.25), rgba(150,150,150,0));

  &:hover {
    color: #111;
    background: radial-gradient(circle 165px at center -100px, rgba(170,170,170,0.1), rgba(170,170,170,0.1));
  }
}

.chip {
  font-size: 16px;
  cursor: pointer;
  line-height: 200%;
  width: fit-content;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all ease-in 0.25s;
  font-family: var(--font-roboto-mono);

  padding: 5px 20px;
  border-radius: 10px;
}
