.projects {
  height: 600px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.projectText {
  display: flex;
  flex-direction: column;
  justify-content: center;

  //& h2,
  //& h5,
  //& p {
  //  opacity: 0;
  //}

  & h2 {
    margin: 0;
    font-size: 64px;
    margin-bottom: 10px;
  }

  & h5 {
    margin: 0;
    color: #666;
    font-weight: 100;
    font-size: 32px;
  }

  & p {
    color: #ccc;
    font-weight: 100;
    font-family: 'Source Sans 3', sans-serif
  }
}

.inRight {
  & h2 {
    animation-duration: 0.5s;
    animation-name: fadeInRight;
  }

  & h5 {
    animation-duration: 0.75s;
    animation-name: fadeInRight;
  }

  & p {
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
}

.inLeft {
  & h2 {
    animation-duration: 0.5s;
    animation-name: fadeInLeft;
  }

  & h5 {
    animation-duration: 0.75s;
    animation-name: fadeInLeft;
  }

  & p {
    animation-duration: 1s;
    animation-name: fadeInLeft;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate(-100px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}