.faderWrap {
  display: grid;
  grid-template-areas: 'pile';
}

.dotWrap {
  padding: 0;
  display: flex;
  margin-top: 40px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.dotDark {
  background: #333;
}

.dotLight {
  background: #ccc;
}

.dotActive {
  width: 10px;
  height: 10px;
}

.dotDefault {
  width: 7px;
  height: 7px;
}

.dot {
  margin: 0 5px;
  border-radius: 100px;
  transition: all ease-in .25s;
}

.faderItem {
  z-index: 1;
  opacity: 0;
  transition: all ease-in .5s;
  grid-area: pile;
}

.active {
  z-index: 2;
  opacity: 1;
  transform: translate(0, 0);
}

.fadeText {
  color: #aaa;
  text-align: center;

  @media (max-width: 900px) {
    padding-right: 0;
  }
}
