.featuredImage {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.listItemWrapperBorder {
  padding: 1px;
  border-radius: 21px;
  margin-bottom: 100px;
}

.listItemWrapperDark {
  background: rgba(0,0,0,.9);
  box-shadow: inset 0 1px 1px rgba(40,60,110,0.5);
  background: radial-gradient(circle 650px at center -400px, rgba(0,40,100,0.75), rgba(17,17,17,1));
}

.listItemWrapperLight {
  background: rgba(240,240,240,.25);
  box-shadow: inset 0 1px 1px rgba(40,60,110,0.05);
  background: radial-gradient(circle 850px at center -600px, rgba(0,0,0,0.2), rgba(240,240,240,.2));
}

.listItemWrapper {
  border-radius: 20px;
  padding: 40px 60px;

  @media(max-width: 600px) {
    padding: 30px 30px;
  }
}

.listItemHeader {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media(max-width: 600px) {
    h4 {
      font-size: 32px;
    }
  }
}

.listItemPosted {
  color: #aaa;
  font-size: 16px;
  align-self: center;
  width: 150px;
  text-align: right;

  @media (max-width: 900px) {
    align-self: flex-start;
  }
}
