.listItemWrapperBorder {
  padding: 1px;
  border-radius: 21px;
  margin-bottom: 100px;
  background: linear-gradient(45deg,#111 0,#666 50%, #111 100%);
}

.listItemWrapper {
  border-radius: 20px;
  background: rgba(0,0,0,.9);
  padding: 40px 60px;

  @media(max-width: 600px) {
    padding: 30px 30px;
  }
}

.listItemHeader {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media(max-width: 600px) {
    h4 {
      font-size: 32px;
    }
  }
}

.listItemPosted {
  color: #aaa;
  align-self: center;

  @media (max-width: 900px) {
    align-self: flex-start;
  }
}