@import url('//fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.jetbrains-mono {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  font-size: 24px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;

  &.dark {
    background: #111;
  }
}

p,
a {
  color: #bbb;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
}

.light {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: linear-gradient(160deg, #444, #111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: linear-gradient(180deg,#fff,#ddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

em {
  font-style: normal;
  font-weight: 600;
}

.dark {
  em {
    color: #fff;
  }
}

.light {
  em {
    color: #111;
  }
}

.backToTop {
  right: 30px;
  bottom: 30px;
  position: fixed;
}

pre,
code {
  font-size: 16px;

  font-family: "JetBrains Mono", serif!important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

pre {
  max-width: 100%;
  max-height: 600px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 30px 60px;
  margin: 0 0 100px;
}

code {
}

.light {
  pre {
    color: #5999da;
    background: #f8f8f8;
  }

  code {
    color: #5999da;
  }

  p code {
    background: #f8f8f8;
    padding: 5px 10px;
  }
}

.dark {
  pre {
    color: #5999da;
    background: #000;
  }

  code {
    color: #5999da;
  }

  p code {
    background: #222;
    padding: 5px 10px;
  }
}

::-webkit-scrollbar {
  display: none;
}

img {
  max-height: 500px;
}

p, .body1, .body2, .body3 {
  color: #999;
  font-weight: 400;
  line-height: 200%;
}

a {
  text-decoration: none;
  transition: all ease-in 0.25s;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.body1 {
  font-size: 32px;
}

p, .body2 {
  font-size: 24px;
}

.body3 {
  font-size: 16px;
}

.blog-image {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.videoPlayer {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.light {
  .hljs {
    color: #5999da;
    background: #f8f8f8
  }

  .hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_ {
    color: #db99bc
  }

  .hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_ {
    color: #ccbde6
  }

  .hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable {
    color: #cc7eb5
  }

  .hljs-meta .hljs-string,.hljs-regexp,.hljs-string {
    color: #99badf
  }

  .hljs-built_in,.hljs-symbol {
    color: #e36209
  }

  .hljs-code,.hljs-comment,.hljs-formula {
    color: #6a737d
  }

  .hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag {
    color: #71b381
  }

  .hljs-subst {
    color: #24292e
  }

  .hljs-section {
    color: #005cc5;
    font-weight: 700
  }

  .hljs-bullet {
    color: #735c0f
  }

  .hljs-emphasis {
    color: #24292e;
    font-style: italic
  }

  .hljs-strong {
    color: #24292e;
    font-weight: 700
  }

  .hljs-addition {
    color: #22863a;
    background-color: #f0fff4
  }

  .hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0
  }
}

.dark {
  .hljs {
    color: #5999da;
    background: #000
  }

  .hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_ {
    color: #db99bc
  }

  .hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_ {
    color: #ccbde6
  }

  .hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable {
    color: #cc9a90
  }

  .hljs-meta .hljs-string,.hljs-regexp,.hljs-string {
    color: #99badf
  }

  .hljs-built_in,.hljs-symbol {
    color: #e36209
  }

  .hljs-code,.hljs-comment,.hljs-formula {
    color: #6a737d
  }

  .hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag {
    color: #80c691
  }

  .hljs-subst {
    color: #24292e
  }

  .hljs-section {
    color: #005cc5;
    font-weight: 700
  }

  .hljs-bullet {
    color: #735c0f
  }

  .hljs-emphasis {
    color: #24292e;
    font-style: italic
  }

  .hljs-strong {
    color: #24292e;
    font-weight: 700
  }

  .hljs-addition {
    color: #22863a;
    background-color: #f0fff4
  }

  .hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0
  }
}
