body {
  margin: 0;
  background: #111;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-roboto-mono);
}

p,
a {
  font-weight: 400;
  font-family: var(--font-roboto-mono)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  var(--font-source-sans-3)
  background: linear-gradient(180deg,#fff,#bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 150%;
}

em,
.emphasis {
  color: #eee;
  font-weight: bold;
  font-style: normal;
}

.backToTop {
  right: 30px;
  bottom: 30px;
  position: fixed;
}

pre,
code {
  font-size: 12px;
}

pre {
  background: #333;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px 60px;
  border-left: 1px solid #666;
  font-family: 'Source Sans 3', sans-serif !important;
}

code {
  color: #aaa;
  font-family: 'Source Sans 3', sans-serif !important;
}

