body {
  margin: 0;
  background: #111;
  overflow-x: hidden;
  overflow-y: auto;
}

p,
a {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: linear-gradient(180deg,#fff,#bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 150%;
}

em {
  color: #fff;
  font-style: normal;
}

.backToTop {
  right: 30px;
  bottom: 30px;
  position: fixed;
}

pre,
code {
  font-size: 12px;
}

pre {
  background: #333;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px 60px;
  border-left: 1px solid #666;
  font-family: 'Source Sans 3', sans-serif !important;
}

code {
  color: #aaa;
  font-family: 'Source Sans 3', sans-serif !important;
}

::-webkit-scrollbar {
  display: none;
}

a, p, .body1, .body2, .body3 {
  color: #999;
  font-weight: 400;
  line-height: 200%;
}

a {
  text-decoration: none;
  transition: all ease-in 0.25s;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.body1 {
  font-size: 32px;
}

.body2 {
  font-size: 24px;
}

.body3 {
  font-size: 16px;
}

.blog-image {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.videoPlayer {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

