.locked {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.contentWrap {
  position: relative;
  transition: all ease-in 0.25s;
}

.contentWrapLight {
  background: #fff;
}

.contentWrapDark {
  background: #000;
}

.contentWrapOpen {
  transform: translateX(80vw) translateY(20px);
}

.overallWrapper {
}

.wrapper {
  padding: 110px 0 100px;
}

.contactContentWrapper {
  padding: 100px 0;
}

.contactContentInnerWrapper {
  padding: 0 50px;

  @media(max-width: 900px) {
    padding: 0 20px;
  }
}

.aboutContainerDark {
  padding: 100px 0;
  background: #0c0c0c;
}

.aboutContainerLight {
  padding: 100px 0;
  background: #f5f5f5;
}

.skillsContainerDark {
  padding: 100px 0;
}

.skillsContainerLight {
  padding: 100px 0;
  background: #fff;
}

.mainContentDark {
  padding: 100px 0;
  background: #0c0c0c;
}

.mainContentLight {
  background: #f5f5f5;
  padding: 100px 0;
}

.listItemWrapper {
  padding-top: 60px;
}

.testimonialWrapperDark {
  height: auto;
  display: flex;
  background: #0c0c0c;
  padding: 100px 0;
}

.testimonialWrapperLight {
  height: auto;
  display: flex;
  background: #f5f5f5;
  padding: 100px 0;
}
