.overallWrapper {
}

.contactContentWrapper {
  padding: 100px 0;
}

.aboutContainerDark {
  padding: 100px 0;
  background: #0c0c0c;
}

.aboutContainerLight {
  padding: 100px 0;
  background: #fff;
}

.skillsContainerDark {
  padding: 100px 0;
}

.skillsContainerLight {
  padding: 100px 0;
  background: #f5f5f5;
}

.mainContentDark {
  padding: 100px 0;
  background: #0c0c0c;
}

.mainContentLight {
  padding: 100px 0;
}

.listItemWrapper {
  padding-top: 60px;
}

.testimonialWrapperDark {
  height: auto;
  display: flex;
  background: #000;
  padding: 100px 0;
}

.testimonialWrapperLight {
  height: auto;
  display: flex;
  background: #f5f5f5;
  padding: 100px 0;
}
