.overallWrapper {
  overflow: hidden;
}

.testimonialWrapper {
  padding: 0 0 100px 0;
  display: flex;
  background: #f5f5f5;
}

.footerWrapper {
  background: rgb(7,14,23);
  padding-bottom: 50px;
  background: linear-gradient(45deg, rgba(7,14,23,1) 0%, rgba(39,62,93,1) 100%);
}