.footerWrapper {
  padding-bottom: 50px;
  background: rgb(7,14,23);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
}

.wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.blurbs {
  display: flex;
  padding: 50px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.blurb {
  flex: 1;
  display: flex;
}

.blurbIcon {
  color: #fff;
  margin-top: 0px;
}

.blurbText {
  margin-left: 20px;

  h5 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }

  p,
  a {
    margin: 0;
    color: #888;
    font-size: 12px;
  }
}

.footerMain {
  color: #888;
  font-size: 12px;
  display: flex;
  padding: 75px 0 50px;
}

.footerLogo {
  width: 250px;
}

.footerMainColumn {
  flex: 1;
  padding: 20px 30px;

  h5 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
  }

  a {
    width: 100%;
    color: #888;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all ease-in .25s;
    line-height: 150% !important;

    &:hover {
      color: #fff;
      padding-left: 10px;
    }
  }
}

.footerTitleDivider {
  width: 40px;
  height: 2px;
  background: rgba(255,255,255,0.25);
  margin-bottom: 20px;
}