.footerWrapperDark {
  padding-bottom: 50px;
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footerWrapperLight {
  padding-bottom: 50px;
  background: rgb(7,14,23);
  background: linear-gradient(45deg, rgb(240, 240, 240) 0%, rgba(255, 255, 255, 0.5) 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.blurbs {
  display: flex;
  padding: 50px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.blurb {
  flex: 1;
  display: flex;
}

.blurbIconDark {
  color: #fff;
}

.blurbIconLight {
  color: #111;
}

.blurbIcon {
  margin-top: 3px;
}

.blurbText {
  margin-left: 20px;

  h5 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }

  p,
  a {
    margin: 0;
    color: #888;
  }

  p {
    line-height: 100%;
  }

  a {
    font-size: 16px;

    &:hover {
      color: #fff;
    }
  }
}

.footerMain {
  color: #888;
  display: flex;
  padding: 75px 0 50px;
}

.footerLogo {
  width: 250px;
  height: auto;
}

.copyright {
  margin: 0;
}

.footerMainColumn {
  flex: 1;
  padding: 20px 30px;

  h5 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    line-height: 100%;
    font-size: 14px;
  }

  .footerLinks {
    width: 100%;
    color: #888;
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all ease-in .25s;
    line-height: 150% !important;

    &:hover {
      color: #fff;
      translate: 5px;
    }
  }
}

.footerTitleDivider {
  width: 40px;
  height: 2px;
  background: rgba(255,255,255,0.25);
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .footerMain {
    flex-direction: column;
  }

  .blurb {
    text-align: center;
    flex-direction: column;
  }

  .blurbText {
    margin-left: 0;

    p {
      margin-top: -10px;
    }
  }

  .blurbIcon {
    display: block;
    margin: 0 auto 10px;
  }
}

@media(max-width: 600px) {
  .blurbs {
    flex-direction: column;
  }

  .blurb {
    margin-bottom: 20px;
  }
}
