.socialWrap {
  display: flex;
  display: none;
}

.logo {
  height: 20px;
  margin: 10px 0;
}

.socials {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.icons {
  color: rgb(41, 60, 86);
  transition: color ease-in .5s;

  &:hover {
    color: #fff;
  }
}