.socialWrap {
  //display: flex;
  display: none;
}

.drawerHeaderItems {
  display: flex;
  justify-content: space-between;

  a {
    height: 65px;
  }
}

.close {
  color: #aaa;
  margin-right: 20px;
  transition: all ease-in .25s;

  &:hover {
    color: #fff;
  }
}

.logo {
  width: 200px;
  margin: 20px;
}

.socials {
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.icons {
  color: rgb(41, 60, 86);
  transition: color ease-in .5s;

  &:hover {
    color: #fff;
  }
}