.socialWrap {
  display: flex;
}

.socials {
  flex: 1;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.iconsDark {
  color: rgba(255, 255, 255, .75);

  &:hover {
    color: #fff;
    color: rgba(255, 255, 255, 1.0);
  }
}

.iconsLight {
  color: rgba(0, 0, 0, 0.75);

  &:hover {
    color: rgba(0, 0, 0, 1.0);
  }
}

.icons {
  transition: color ease-in .5s;
}
