.insideContainer {
  padding-top: 65px;
  background: #333;
}

.blurb {
  width: 100%;
  padding: 100px;
  background: #111;
  text-align: center;
  margin: 100px auto 0;

  .blurbImage {
    height: 400px;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 30px;
    color: rgba(39,62,93,1);
    text-transform: uppercase;
  }

  h3 {
    font-weight: 800;
    margin-bottom: 30px;
    color: rgba(39,62,93,1);
    text-transform: uppercase;
  }

  h5 {
    font-weight: 500;
    color: #ccc;
    margin-bottom: 10px;
  }
}

.resumeWrapper {
  position: relative;
}

.resumeContainer {
  padding: 100px 0;
}

.divider {
  left: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: #eee;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
}

.backToTop {
  right: 30px;
  bottom: 30px;
  position: fixed;
}