.insideContainer {
  padding-top: 65px;
  background: #222;
}

.resumeWrapper {
  position: relative;
}

.resumeContainer {
  padding: 100px 0;
}

.divider {
  left: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: #333;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
}

.backToTop {
  right: 30px;
  bottom: 30px;
  position: fixed;
}