.resumeItem {
  height: 150vh;

  h2,
  h4 {
    margin: 0;
    line-height: 100%;
    text-transform: uppercase;
  }

  h2 {
    color: #fff;
    font-size: 52px;
  }

  h4 {
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.05);

    .subtitle {
      color: #aaa;
      font-weight: 400;
      background: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }

  .dates {
    padding: 10px 20px;
    position: absolute;
    background: rgb(9, 9, 9);
  }

  h5 {
    margin: 0;
    font-size: 24px;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
    line-height: 125%;
  }

  li {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
    font-size: 14px;
    line-height: 150%;
  }
}

.indicator {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  .dot {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: rgb(51, 51, 51, 1);
    border: 5px solid rgba(255,255,255,1);
    box-shadow: 0 1px 20px rgba(0,0,0,0.25);
  }
}

.sticky {
  top: 20vh;
  display: flex;
  position: sticky;
}

.resumeItemOdd {
  text-align: right;

  .indicator {
    margin-left: -24px;
  }

  .sticky {
    .resumeItemLeft {
      margin-right: 30px;
      background: linear-gradient(180deg,#000,#111);

      &::before {
        width: 0;
        height: 0;
        left: 100%;
        right: auto;
        content: '';
        position: absolute;
        top: calc(50% - 30px / 2);
        border: 15px solid transparent;
        border-left-color: rgb(9, 9, 9);
      }
    }

    .resumeItemRight {
      display: flex;
      margin-left: 0px;
      align-items: center;
      justify-content: flex-start;

      .dates {
        &::before {
          top: 0;
          width: 0;
          height: 0;
          left: auto;
          right: 100%;
          content: '';
          position: absolute;
          border: 28px solid transparent;
          border-right-color: rgba(9,9,9,1);
        }
      }
    }
  }
}

.resumeItemEven {
  .indicator {
    margin-left: 35px;
  }

  .sticky {
    flex-direction: row-reverse;

    .resumeItemLeft {
      margin-left: 30px;
      background: linear-gradient(180deg,#000,#111);

      &::before {
        width: 0;
        height: 0;
        left: auto;
        content: '';
        right: 100%;
        position: absolute;
        top: calc(50% - 30px / 2);
        border: 15px solid transparent;
        border-right-color: rgb(9, 9, 9);
      }
    }

    .resumeItemRight {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .dates {
        &::before {
          top: 0;
          width: 0;
          height: 0;
          left: 100%;
          right: auto;
          content: '';
          position: absolute;
          border: 28px solid transparent;
          border-left-color: rgb(9, 9, 9);
        }
      }
    }
  }
}

.resumeItemLeft,
.resumeItemRight {
  flex: 1;
  padding: 50px 25px;
  position: relative;
  box-sizing: border-box;
}

.resumeItemLeft {
}

.resumeItemRight {

}