.pageTitle {
  margin: 100px 0;
  text-align: center;
}

.title {
  margin: 0;
  color: #e3e3e3;
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Source Sans 3', sans-serif;
}

.titleBorder {
  width: 100px;
  height: 3px;
  margin: 25px auto;
  background: #e3e3e3;
}