.pageTitle {
  margin: 0;
  text-align: center;

  @media(max-width: 600px) {
    margin: 50px 0;
  }
}

.title {
  margin: 0;
  text-transform: uppercase;
  color: rgba(33, 57, 87, 1);

  @media(max-width: 900px) {
    font-size: 28px;
  }
}

.titleBorder {
  width: 100px;
  height: 3px;
  margin: 25px auto 75px;
  background: #e3e3e3;
}