.wrapper {
  padding: 100px 0 0;
}

.innerContainer {
  padding: 0 50px;
}

.listItemWrapper {
  padding: 0 0 100px;
}

.searchWrap {
  display: flex;
  align-items: center;

  input {
    flex: 1;
  }

  button {
    padding: 0;
    height: 55px;
    min-width: 100px;
  }
}
