.wrapper {
  padding: 110px 0 100px;
}

.pageHeader {
  display: flex;
  margin-bottom: 50px;
}

.pageHeaderLeft {
  text-align: right;
  align-self: center;
}

.postTitle {
  @media (max-width: 600px) {
    font-size: 44px;
  }
}

.postBody {
  color: #666;
}