.wrapper {
  padding: 110px 0 100px;
}

.pageHeader {
  display: flex;
  margin-bottom: 50px;
}

.pageHeaderLeft {
  text-align: right;
  align-self: center;
}

.postTitle {
  @media (max-width: 600px) {
    font-size: 44px;
  }
}

.postBody {
  color: #666;
}

.mediaWrapper {
  display: flex;
  flex-wrap: wrap;
}

.mediaItem {
  margin: 10px;
  overflow: hidden;
  flex-basis: calc(100% / 4 - 20px);
}

.media {
  width: 100%;
  height: auto;
}
