.wrapper {
  padding: 110px 0 100px;
}

.postTitle {
  @media (max-width: 600px) {
    font-size: 44px;
  }
}

.postBody {
  color: #666;
}

.mediaWrapper {
  display: flex;
  flex-wrap: wrap;
}

.mediaItem {
  opacity: .5;
  margin: 10px;
  display: flex;
  overflow: hidden;
  max-height: 200px;
  align-items: center;
  flex-basis: calc(100% / 4 - 20px);

  &:hover {
    opacity: 1.0;
  }
}

.media {
  width: 100%;
  height: auto;
}
