.navWrapper {
  display: flex;
}

.logo {
  width: 200px;
  height: auto;
}

.navLinkDark {

}

.links {
  padding: 10px!important;
}

.navSwitch {
  cursor: pointer;
  transition: all ease-in 0.25s;

  svg {
    transform: translateY(6px);
  }
}

.navSwitchMobile {
  padding: 0 25px;
}

.navSwitchDark {
  &:hover {
    color: #ffe078;
  }
}

.navSwitchLight {
  &:hover {
    color: #666;
  }
}
