.navWrapper {
  display: flex;
}

.logo {
  width: 200px;
  height: auto;
}

.navLinkDark {

}

.links {
  padding: 10px!important;
}

.navSwitch {
  cursor: pointer;

  svg {
    transform: translateY(5px);
  }
}

.navSwitchMobile {
  padding: 0 25px;
}
