.listingsContainer {
  margin: 100px 0;
}

.listingsContainerInner {
  padding: 0 50px;

  @media(max-width: 900px) {
    padding: 0 20px;
  }
}

.contentListingHeader {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

  h2 {
    flex: 1;
    margin: 0;
  }

  .contentListingHeaderButtonGroup {
    display: flex;

    @media(max-width: 601px) {
      flex-direction: column;
    }
  }
}

.contentListingHeaderSubtitle {
  font-size: 24px;
  font-weight: 300;
  margin-left: 20px;

  @media(max-width: 600px) {
    display: block;
    margin-left: 0;
  }
}

.listingItemsContainer {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);

  @media(max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.dark {
  .contentListingHeader {
    .contentListingHeaderButtonGroup {
      button {
        background: #666;
      }
    }
  }
}
