.sliderBorder {
  padding: 1px;
  border-radius: 10px;
}

.sliderWrap {
  display: flex;
  padding: 100px;
  background: rgba(0,0,0,.9);
  position: relative;
  //border-radius: 20px;
  overflow: hidden;
  //box-shadow: 0 25px 50px rgba(0,0,0,.05);

  box-shadow: inset 0 1px 0px rgba(0,91,168,0.5);
  border-radius: 10px;
  background: radial-gradient(circle 700px at center -500px, rgba(0,91,169,0.75), rgba(3,3,3,1));
  border: 1px solid rgba(5,5,5,0.7);

  @media(max-width: 900px) {
    flex-direction: column;
  }

  @media(min-width: 769px) and (max-width: 900px) {
    height: 500px;
    padding: 50px;
  }

  @media(min-width: 601px) and (max-width: 768px) {
    height: 700px;
    padding: 50px;
  }

  @media(min-width: 400px) and (max-width: 600px) {
    height: 850px;
    padding: 75px 25px;
  }

  @media(max-width: 399px) {
    height: 1000px;
    padding: 75px 25px;
  }

  @media(max-width: 500px) {
    .badgeText {
      h3 {
        text-overflow: ellipsis;
      }
    }
  }
}

.slide {
  z-index: 1;
  opacity: 0;
  padding: 0 100px;
  position: absolute;
  transition: all ease-in .5s;
  transform: translate(0, -50px);

  @media(max-width: 1200px) {
    padding: 0;
    width: 100%;
  }
}

.active {
  z-index: 2;
  opacity: 1;
  transform: translate(0, 0);
}

.slideText {
  color: #aaa;
  margin-top: 30px;

  @media (max-width: 900px) {
    padding-right: 0;
  }
}

.quoteLeft,
.quoteRight {
  position: absolute;
}

.quoteLeft {
  top: -25px;
  left: 50px;
}

.quoteRight {
  right: 300px;
  bottom: -25px;
  transform: rotate(180deg);

  @media (max-width: 900px) {
    right: 30px;
  }
}

.slidesWrap {
  flex: 1;
  position: relative;
}

.badge {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;

  img {
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.badgeText {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  justify-content: center;

  h3,
  h5 {
    margin: 0;
    text-transform: uppercase;
    font-family: var(--font-source-sans-3);
  }

  h3 {
    font-weight: 900;
    margin-bottom: 2px;

    @media(max-width: 600px) {
      font-size: 26px;
    }
  }

  h5 {
    font-weight: 400;
    line-height: 100%;
    margin-top: 10px;

    @media(max-width: 600px) {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    margin-left: 0;
    text-align: center;
  }
}

.viewMoreLink {
  font-size: 16px;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(max-width: 900px) {
    z-index: 2;
    flex-direction: row;
  }
}

.icons {
  color: #ddd;

  &:hover {
    color: #aaa;
  }
}

.dot,
.dotActive {
  margin: 10px 0;
  align-self: center;

  @media(max-width: 900px) {
    margin: 0 10px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: #666;
  border-radius: 100px;
  transition: all ease-in .25s;

  &:hover {
    width: 15px;
    height: 15px;
    background: #ccc;
  }
}

.dotActive {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100px;
}
