.blurbDark {
  background: #111;
}

.blurbLight {
  background: #fff;
}

.blurb {
  width: 100%;
  padding: 100px;
  text-align: center;
  position: relative;
  margin: 100px auto 0;

  .downloadButton {
    top: 40px;
    right: 40px;
    position: absolute;
  }

  .blurbImage {
    width: auto;
    height: 400px;
  }

  h1 {
    font-weight: 800;
    margin-bottom: 30px;
    color: rgba(39,62,93,1);
    text-transform: uppercase;

    @media (max-width: 600px) {
      font-size: 44px;
    }
  }

  p {
    margin-bottom: 20px;
  }

  @media(max-width: 600px) {
    margin: 0 auto;
    padding: 100px 30px;

    .downloadButton {
      top: 20px;
      right: 20px;
    }
  }
}
